/* Description */

#about-us {
	justify-content: space-between;
	padding: 95px 40px;
	gap: 60px;
}

.description-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.description-img img {
	width: 100%;
}

.description-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 400px;
	text-align: center;
}

.description-text h2 {
	margin-bottom: 30px;
	color: var(--grey);
}
@media (max-width: 991px) {
	#about-us {
		justify-content: center;
		flex-direction: column;
		width: 100%;
	}

	.description-img {
		width: 100%;
	}

	.description-img img {
		order: 2;
	}

	.description-text {
		order: 1;
		max-width: 350px;
	}
}
