/* header */

.header{
    margin: 0 auto;
    max-width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px 0 50px;
}

.header-container{
    position: sticky;
    top: 0;
    z-index: 9999;
}


.logo-container{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-container img{
    height: 100px;
}

.navbar, .navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list{
    gap: 50px;
}

.navbar i{
    font-size: 40px;
    cursor: pointer;
    color: white;
    display: none;
}

#toggle-menu{
    display: none;
}

.navbar a{
    color:var(--red);
    font-size: 20px;
    font-family: 'Blood Crow';
}

.navbar-list li:last-child > a{
    border: 1px solid rgb(255, 22, 22);
    font-size: 16px;
    padding: 8px 40px;
    border-radius: 3px;
    transition: all .3s linear;
}

.navbar-list li:nth-child(5) > a{
    border: 1px solid rgb(255, 22, 22);
    font-size: 16px;
    padding: 8px 40px;
    border-radius: 3px;
    transition: all .3s linear;
}



.navbar-list li:last-child > a:hover{
    background-color: #ff545c;
    color: white;
    transition: all .3s linear;
    font-weight: 700;
}

@media (max-width:1178px){
    .header{
        padding:0px 60px 0px 60px
    }

    .navbar a{
        font-family: 'Blood Crow' 'Gloria Hallelujah';
    }
  
    .navbar i{
        display: block;
    }

    .navbar-list{
        position: absolute;
        background-color: var(--black);
        flex-direction: column;
        top:100px;
        right: 0;
        width: 100%;
        height: calc(100vh - 100px);
        z-index: 999;
        display: none;
    }

    #toggle-menu:checked + .navbar-list{
        display: flex;
    }
}