/* header */

.header {
	margin: 0 auto;
	max-width: 1300px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 80px 0 50px;
}

.header-container {
	position: sticky;
	top: 0;
	z-index: 9999;
}

.btn-login-singup {
	display: flex;
	gap: 30px;
}

.logo-container {
	height: 100%;
	display: flex;
	align-items: center;
}

.logo-container img {
	height: 100px;
}

.navbar,
.navbar-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-list {
	gap: 50px;
}

.navbar i {
	font-size: 40px;
	cursor: pointer;
	color: white;
	display: none;
}

#toggle-menu {
	display: none;
}

.navbar a {
	color: var(--blueligth);
	font-size: 20px;
	font-family: 'Blood Crow';
	position: relative;
}

.navbar a:hover {
	color: white;
}

.item-link a::after {
	content: '';
	height: 3px;
	width: 100%;
	background: var(--grey);
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.8s ease;
}

.item-link a:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
}

.btn-login-singup a {
	font-size: 22px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 10px;
	padding: 2px 10px;
	background-color: rgb(0, 0, 0);
	transition: all 0.5s ease;
}

.btn-login-singup a:hover {
	background-color: rgb(255, 255, 255);
	color: black;
	transition: all 0.5s ease;
}

@media (max-width: 1178px) {
	.header {
		padding: 0px 60px 0px 60px;
	}

	.navbar a {
		font-family: 'Blood Crow' 'Gloria Hallelujah';
	}

	.navbar i {
		display: block;
	}

	.navbar-list {
		position: absolute;
		background-color: #3498db;
		flex-direction: column;
		top: 100px;
		right: 0;
		width: 100%;
		height: calc(100vh - 100px);
		z-index: 999;
		display: none;
	}

	#toggle-menu:checked + .navbar-list {
		display: flex;
	}
}
