@import url('https://www.mediafont.com/storage/contents/12471/bloodcrowsci.ttf');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	width: 100%;
	height: 100vh;
}

.section-login-container {
	display: flex;
	flex: 1 1 67.1%;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 3rem 1rem;
}

.section1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	max-height: 100%;
}

.form-login input {
	padding: 15px 45px;
	border-radius: 5px;
	margin: 10px auto;
}

.btn {
	padding: 15px 113px;
	background-color: aqua;
	margin: 10px 0 10px 0;
}

.btn-social {
	background-color: blue;
	padding: 15px 45px;
}

.login-forgot {
	color: aliceblue;
	font-size: 12px;
}

/* seccion2 */

.section2 {
	background-image: url(https://img1.ak.crunchyroll.com/i/spire2/db9dddb29864f2567ff755dadf99658b1637751615_main.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: aliceblue;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	max-height: 100%;
}

header {
	margin: 1rem 0 14.1rem 0;
}

.Information-login p {
	color: red;
	max-width: 400px;
}

.iframe-login {
	display: flex;
	justify-content: flex-end;
}
