@import url('https://www.mediafont.com/storage/contents/12471/bloodcrowsci.ttf');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Josefin+Sans:wght@500&family=Lobster+Two:ital,wght@1,700&family=Poppins:ital,wght@1,200&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'poppins';
}

body {
	width: 100%;
	height: 100%;
}

.section__container {
	margin: 0 auto;
	height: 100vh;
	max-width: 1300px;
}

.section-signup-container {
	max-width: 1000px;
	margin: 0 auto;
	height: 100%;
}

.header-signup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-signup h2 {
	text-align: center;
	font-size: 50px;
	font-family: 'Blood Crow';
	font-weight: 700;
	max-width: 600px;
}

.header-signup h3 {
	text-align: center;
	font-size: 30px;
	font-weight: 200;
	margin-bottom: 50px;
}

.signup-form {
	margin: 0 auto;
	width: 100%;
}

.signup-form form {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.form-column-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-column-1 label,
.form-column-2 label {
	font-size: 20px;
	margin: 8px 0;
	text-align: left;
	width: 100%;
}

.form-column-1 input,
.form-column-2 input {
	padding: 0.5rem 5rem;
	border: 1px solid rgb(180, 180, 180);
}

.form-column-1 input:focus,
.form-column-2 input:focus {
	outline: none;
	background-color: #fff;
}

.form-column-1 input::placeholder,
.form-column-2 input::placeholder {
	background-color: #fff;
}

.form-column-2 input[type='date'] {
	background: #fff url(https://clipground.com/images/calendario-png-7.png);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: 90%;
	padding: 4.8px 87px;
	font-size: 18px;
	color: #000;
}

.form-column-2 input[type='date']::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.form-column-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-sex {
	margin-top: 30px;
	max-width: 320px;
}

.form-sex label {
	font-size: 20px;
	font-weight: 200;
	text-align: left;
}

.form-moreinformation {
	margin-top: 30px;
	max-width: 320px;
}

.box-btn {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}

.btn-login-singup {
	padding: 0.4rem 6rem;
	background-color: red;
	border-radius: 5px;
	font-size: 30px;
}

.btn-login-singup:hover {
	cursor: pointer;
	background-color: rgb(209, 41, 41);
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer p {
	font-size: 10px;
	max-width: 500px;
}

.footer-logo img {
	width: 100px;
	margin-top: 15px;
}

@media (max-width: 715px) {
	.signup-form form {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.form-column-1 input,
	.form-column-2 input {
		padding: 0.5rem 4rem;
	}

	.form-column-2 input[type='date'] {
		padding: 0.5rem 4.5rem;
	}

	.form-sex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.form-sex label {
		max-width: 200px;
	}

	.form-moreinformation {
		max-width: 200px;
	}

	footer p {
		max-width: 250px;
	}
}
